<ion-header>
  <ion-navbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>Follow us on Twitter</ion-list-header>
    <ion-item>
      <ion-icon name="ionic" item-start></ion-icon>
      @ionicframework
    </ion-item>
  </ion-list>

<!-- <userlist></userlist> -->

<ion-list *ngFor="let resultList of list">
  <button ion-item   *ngFor="let item of resultList.results" (click)="goDetails(item.email)">
    {{item.email}} {{item.cell}}
  </button>
</ion-list>

</ion-content>
